@charset "UTF-8";

#orderDiv {
	display: flex;
	text-align: center;
	position:relative;
}

#detailWrapper {
	width:100%;
	display: flex;
	margin: 10px;
}

#orderDetail {
	border: 1px solid #942092;
	/* position:absolute;
	top:30%;
	left:50%; */
	width:45vw;
	text-align: center;
	margin-left: 50px;
	 display: table;

}

.detailBtns{
	position:absolute;
	bottom:0;
	
}

#orderOptionDiv{
	
	border: 1px solid red;
	
	 position:absolute;
	bottom:30%; 
}

#orderDiv {

	border: 1px solid #942092;

}

#detailWrap {
	margin-left: auto;
	margin-right: auto;
}

.detailTitle {
	font-size: 20pt;
	font-weight: 600;
	float: left;
	padding: 20px 0;
}

.detailPrice{
	position:absolute;
	top:20%;
}

#detailImgs {
	border: 1px solid red;
	padding: 10px;
}

.productImg>img {
	width: 500px;
}

#details {
	border: 1px solid blue;
	width: 35%
}

#mainImg {
	margin-left: 50px;
}

#mainImg>img {
	width: 600px;
}

#reviewDiv {
	border: 1px solid blue;
}

#qnaDiv {
	border: 1px solid blue;
}

.selectbox{
	width:40vw;
	height:6vh;
	margin-bottom:30px;
	background-color:#ececec;
	border:none;
	
}

.colorSelect > span{
	font-size:11pt;
	margin:0 20px;
	
}

.sizeSelect > span{
	font-size:11pt;
	margin:0 20px;
	
}

