@charset "UTF-8";

#headerContainer{
	border:1px solid red;
	height:150px;
}

#headerWrapper{
	display:flex;
	justify-content:space-between;
	height:5vh;
}

#headerTitle{
	padding-top:15px;
}

#headerTitle > a {
	text-decoration:none;
	color:black;
	
}

.hTitleSpan{
	
	border:1px solid black;
	font-size:20pt;
}

#topMenuWrapper {
	flex-wrap: wrap;
	position: relative;
	margin-top:50px;
}



.MenuDiv {
	/* display: inline-block; */
	/* border : 1px solid green; */
	justify-content: space-around;
	height: 100px;
	display: flex;
}

.subMenu>a {
	text-decoration: none;
	color: black;
}

.mainMenu0 > a{
	text-decoration: none;
	color: black;
}

.mainMenu0, .mainMenu1, .mainMenu2, .mainMenu3, .mainMenu4 {
	/* border: 1px dotted black; */
	width: 70px;
	font-weight: 500;
	letter-spacing: 0.1em;
	padding-bottom: 5px;
}

.subMenuDiv1:hover {
	display: block;
}



.mainMenu1:hover+.subMenuDiv1 {
	display: block;
}

.subMenuDiv2:hover {
	display: block;
}

.mainMenu2:hover+.subMenuDiv2 {
	display: block;
}

.subMenuDiv3:hover {
	display: block;
}

.mainMenu3:hover+.subMenuDiv3 {
	display: block;
}

.subMenuDiv4:hover {
	display: block;
}

.mainMenu4:hover+.subMenuDiv4 {
	display: block;
}

.subMenuDiv1, .subMenuDiv2, .subMenuDiv3, .subMenuDiv4 {
	display: none;
	font-size: 10pt;
	/* border: 1px solid orange; */
	font-size: 10pt;
	padding-left: 5px;
	padding-top: 5px;
}

.Menu {
	width: 50px;
}

.subMenu {
	padding-bottom: 3px;
	letter-spacing: 0.07em;
}
