@charset "UTF-8";

#headerContainer {

	
}

#headerWrapper {
	display: flex;
	justify-content: space-between;
/* 	height: 5vh; */
}

#headerTitle {
	margin-left:50px;
	padding-top: 15px;
}

#headerLeft>a {
	text-decoration: none;
	color: black;
}

#headerLeft{
	margin-top:15px;
}

.hTitleSpan {
	margin-left:5px;
	font-size: 20pt;
}


li{list-style:none}
ul{padding-inline-start:0}
a{text-decoration:none;font-size:14px}

#menuWrapper{

}

.menu {
  
  overflow: hidden;
  /* margin: 10px auto; */
}

.menu > li {
  width: 20%; /*20*5=100%*/
  float: left;
  text-align: center;
  line-height: 60px;
  background-color: black; 
  letter-spacing:1px;
  
}

.menu a {
  color: white;
}

.submenu > li {
  line-height: 40px;
  background-color:#ffffff;
  color:black;
  
}

.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;
  box-shadow: -10px 5px 10px -5px;

}

.submenu > li a{
	  color:black;
}


.menu > li:hover {
  /* background-color: ; */
  transition-duration: 0.5s;
   
  
}

.menu > li:hover .submenu {
  height: 122px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 0.3s;
/*   color:black; */
  
  
}

.headerSearch{
	border:none;
	border-bottom:2px solid black;
	width:450px;
	height:30px;
	background-image: url("../imgs/search2.png");
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: right 0px;
	font-size:11pt;
}
.headerSearch:focus{
	outline:none;
}

#headerRight{
	position:relative;
	top:-10px;
}


.header_mypage{
	background-image: url("https://static.wconcept.co.kr/web/images/icon/icon-user-dark.png");
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: top 0px;
	display:inline-block;
	width:30px;
	height:30px;
	
}

.header_login{
	background-image: url("https://static.wconcept.co.kr/web/images/icon/icon-sign-in-dark.png");
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: top 0px;
	display:inline-block;
	width:30px;
	height:30px;
	
}

.header_logout{
	background-image: url("https://static.wconcept.co.kr/web/images/icon/icon-sign-out-dark.png");
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: top 0px;
	display:inline-block;
	width:30px;
	height:30px;
	
}

.header_bag{
	background-image: url("https://static.wconcept.co.kr/web/images/icon/icon-bag-dark.png");
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: top 0px;
	display:inline-block;
	width:30px;
	height:30px;
	
	
}


.use_info strong{
display:block;
text-align:center;
color:black;
	
}

.use_info li{
	float:left;
	margin-right:20px;
}
