@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Mukta:700');
body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #111;
	font-family: "helvetica neue", helvetica, sans-serif;
	overflow: hidden;
}

a {
	color: #797979;
	text-decoration: none;
	background-color: transparent;
}

.scroll {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(255, 255, 255, 0.5);
	font-family: "font-2";
	font-size: calc(0.5rem + 0.35vw);
	z-index: 10;
}

ul, li {
	padding-inline-start: 0px;
	list-style: none;
	padding: 0;
	margin: 0;
}
ol, ul {
	margin-top: 0;
	margin-bottom: 10px;
}
.nav {
	position: absolute;
	top: 2rem;
	z-index: 10;
}

.nav--left {
	left: 1rem;
}

.nav--right {
	right: 1rem;
}

.nav ul {
	display: flex;
	align-items: center;
	height: 1rem;
}

.nav li {
	display: block;
	margin: 0 1rem;
	padding: 0;
}

.nav a {
	position: relative;
	display: flex;
	align-items: center;
	font-size: calc(0.5rem + 0.35vw);
	font-family: "helvetica neue", helvetica, sans-serif;
}

.nav a span {
	position: relative;
}

.nav a span:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -0.35rem;
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.25);
	transition: transform 0.75s ease;
	transform-origin: right;
	transform: scaleX(0);
}

.nav a:hover span:before, .nav a.is-active span:before {
	transform: scaleX(1);
	transform-origin: left;
}

.vert-text {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	width: 15rem;
	display: flex;
	align-items: center;
	z-index: 10;
}

.vert-text span {
	display: block;
	color: #fff;
	text-transform: uppercase;
	line-height: 1.1;
	transform: rotate(-90deg) translateY(15rem);
	transform-origin: bottom left;
	font-size: 1.35rem;
}

.cart-total {
	display: block;
	height: 2rem;
	width: 2rem;
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 50%;
	text-align: center;
	line-height: 2rem;
	margin-left: 1rem;
}

.slider {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.slider__text {
	position: absolute;
	bottom: calc(2rem + 3vw);
	left: calc(2rem + 3vw);
	z-index: 0;
	font-size: calc(1rem + 4vw);
	text-transform: uppercase;
	transform-origin: top;
	line-height: 1.075;
	color: #fff;
	font-weight: 500;
}

.slider__text-line {
	overflow: hidden;
}

.slider__inner {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.slider__nav {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	z-index: 10;
}

.slider-bullet {
	display: flex;
	align-items: center;
	padding: 1rem 0;
}

.slider-bullet__text {
	color: #fff;
	font-size: 0.65rem;
	margin-right: 1rem;
}

.slider-bullet__line {
	background-color: #fff;
	height: 1px;
	width: 1rem;
}

.slider canvas {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.slide {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.slide__content {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.slide__img {
	position: relative;
	width: 25vw;
	height: 70vh;
	padding: 0;
	margin: 0;
	min-width: 12.5rem;
	transform-origin: top;
}

.slide__img:first-child {
	top: -1.5rem;
}

.slide__img:last-child {
	bottom: -1.5rem;
}

.slide__img img {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#whole-wrap-div {
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 2;
}
.side-menu {
	left:0px;
	top: 0px;
	width: 45px;
	background: black;
	border-right: 1px solid rgba(0, 0, 0, 0.07);
	bottom: 0px;
	padding-bottom: 70px; position : fixed;
	box-shadow: 0 0px 24px 0 rgb(0 0 0/ 6%), 0 1px 0px 0 rgb(0 0 0/ 2%);
	position: fixed;
	
}

.sidebar-inner {
	height: 100%;
	padding-top: 30px;
}

#sidebar-menu, #sidebar-menu ul, #sidebar-menu li, #sidebar-menu a {
	border: 0;
	font-weight: normal;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
}

#sidebar-menu>ul>li a {
	color: #fff;
	font-size: 20px;
	display: block;
	padding: 14px 0px;
	margin: 0px 0px 0px 8px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	width: 28px;
	cursor: pointer;
}

#sidebar-menu .fas {
	padding-left: 6px;
}

/* 사이드 메뉴 */
input[type="search"] {
	width: 230px;
	margin: 0 auto;
	margin-left: 9px;
	border: 2px solid #797979;
	font-size: 14px;
	margin-top: 10px;
	padding: 4px 0 4px 14px;
	border-radius: 50px;
}

.left_sub_menu {
	position: fixed;
	top: 0px;
	width: 300px;
	z-index: 10;
	left: 45px;
	background: white;
	border-right: 1px solid rgba(0, 0, 0, 0.07);
	bottom: 0px;
	margin-bottom: -70px;
	margin-top: 0px;
	padding-bottom: 0px;
	box-shadow: 0 0px 24px 0 rgb(0 0 0/ 6%), 0 1px 0px 0 rgb(0 0 0/ 2%);
	color: black;
	overflow: auto;
	 -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
    height: 100%;
}

.left_sub_menu::-webkit-scrollbar{
	display: none;
}
.sub_menu {
	margin-top: 10px;
	height: 50px;
}

.left_sub_menu>.sub_menu li:hover {
	color: ff5858;
	background-color: #e1e1e1;
}

.left_sub_menu>.sub_menu li {
	color: #333;
	font-size: 17px;
	font-weight: 600;
	padding: 20px 0px 8px 14px;
	border-bottom: 1px solid #e1e1e1;
}

.sub_menu>h2 {
	padding-bottom: 4px;
	border-bottom: 3px solid #797979;
	margin-top: 30px;
	font-size: 21px;
	font-weight: 600;
	color: #333;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'NotoKrB';
	line-height: 35px;
}

.sub_menu .fas {
	color: #ff5858;
	font-size: 20px;
	line-height: 20px;
	float: right;
	margin-right: 20px;
}

.sub_menu>.big_menu>.small_menu li {
	color: #333;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 0px solid #e1e1e1;
	margin-left: 14px;
	padding-top: 8px;
}

.big_menu {
	cursor: pointer;
}
.has_sub {
	width: 100%;
}

.over {
	position: fixed;
	width: 100%;
	height: 100%;
	margin-left: 30px;
}

.hide_sidemenu {
	display: none;
}


button.login-btn {
	position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
  margin-left: 50px;
  margin-top: 15px;
  
}
button.logout-btn {
	position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
  margin-top:5px;
  margin-left: 20px;
}
button.logout-btn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.logout-btn.circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.logout-btn .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.logout-btn .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.logout-btn .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}




button.login-btn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
  margin-top: 15px;
}
button.login-btn .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;

}
button.login-btn .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.login-btn .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 
}
button.login-btn .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.login-btn .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

.myPage-btn {
  background: black;
  color: white;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
  overflow: hidden;
  border-radius: 100vmax;
  box-shadow: var(--shadow-elevation-high);
  transition: box-shadow 0.2s ease-in-out;
  margin-left: 20px;
}
.myPage-btn:hover {
	 padding: 1.1rem 1.1rem;
}
