@charset "UTF-8";

.regRealContainer {
	width: 800px;
	height: 600px;
	margin-right: auto;
	margin-left: auto;
	/* border:1px solid black;  */
	position: relative;
}

#regtitle {
	position: absolute;
	left: 44%;
	font-size: 14pt;
	font-weight: 600;
	top: -30px;
}

#regContainer {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 6px;
	margin-top: 63px;
}

#regImg {
	margin-top: 5px;
	position: relative;
	height: 200px;
	font-size: 10pt;
}

#regImg>input {
	position: absolute;
	left: 250px;
}

#regCategory {
	position: relative;
	height: 50px;
}

.regSelect {
	position: absolute;
	left: 250px;
	height: 20px;
	width: 310px;
	height: 30px;
	font-size: 10pt;
}

.regProductName {
	position: relative;
	height: 50px;
}

.regProductName>input {
	position: absolute;
	left: 250px;
	width: 300px;
}

.regProductColor {
	position: relative;
	height: 50px;
}

.regProductColor>input {
	position: absolute;
	left: 250px;
	width: 300px;
}

.regSize {
	position: relative;
	height: 50px;
}

.regSizeCheckbox {
	position: absolute;
	left: 250px;
	top: 0;
}

.regProductPrice {
	position: relative;
	height: 50px;
}

.regProductPrice>input {
	position: absolute;
	left: 250px;
	width: 300px;
}

.regProductInfo {
	position: relative;
	height: 100px;
}

.regProductInfo>textarea {
	position: absolute;
	left: 250px;
	width: 300px;
	height: 80px;
	font-size: 12pt;
}

.regBtn {
	position: relative;
	height: 50px;
	text-align: center;
	margin-top: 10px;
}

input {
	font-size: 12pt;
}

span {
	margin-right: 200px;
}

h1 {
	text-align: center;
}

#productSpan {
	position: absolute;
	top: 0;
}

button {
	background-color: #212121;
	color: white;
	min-width: 100px;
	height: 40px;
	box-sizing: border-box;
	font-size: 10pt;
	text-align: center;
	cursor: pointer;
}

button:focus {
	outline: none;
}

button:hover {
	background-color: black;
	color: white;
}

#imgforLabel {
	display: none;
}

.imgLabel {
	border: 1px solid gray;
	background-color: #ececec;
	border-radius: 4px;
	color: black;
	font-weight: 800;
	cursor: pointer;
	padding: 5px;
}

#images_container {
	border: 2px solid #999;
	height: 150px;
	margin-top: 15px;
}

#images_container>img {
	width: 120px;
	height: 150px;
	margin-left: 3px;
}

.regSpan {
	font-size: 11pt;
}