@charset "UTF-8";
#ReviewContainer{
	width: 800px;
	height: 600px;
	margin-right: auto;
	margin-left: auto;
	/* border:1px solid black;  */
	position: relative;
}
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: space-around;
  width: 5em;
}
 
.star-rating input {
  display: none;
}
 
.star-rating label {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}
 
.star-rating :checked ~ label {
  -webkit-text-fill-color: gold;
}
 
.star-rating label:hover,
.star-rating label:hover ~ label {
  -webkit-text-fill-color: #fff58c;
}
.reviewImg{
	margin-top: 15px;
	border-bottom: 1px solid #ddd;
}
.ReviewTitle{
	font-size: 20pt;
	font-weight: 700;
}
.reviewOption{
	margin-top: 15px;
	border-bottom: 1px solid #ddd;
}
.reviewON{
	font-size: 15pt;
	font-weight: 600;
}
.reviewRate{
	margin-top: 15px;
	border-bottom: 1px solid #ddd;
}
.reviewTxt{
	margin-top: 15px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}
#reviewContents {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
#preview{
	width: 200px;
	height: 200px;
}

#regbtn{
	background-color: black;
	color: white;
	min-width: 100px;
    height: 40px;
	border: 1px solid #000000;
	box-sizing: border-box;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	margin-top: 20px;
	
}
textArea{
	width: 100%;
    height: 148px;
    box-sizing: border-box;
    padding: 6px;
    border: none;
    resize: none;
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    line-height: 1.5;
    font-size: 14px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50px;
}