<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdm.fj.account.AccountMapper">

	<insert id="register" parameterType="com.sdm.fj.account.Account">
		insert into final_account values(#{a_id}, #{a_nickname}, #{a_pw}, #{a_addr}, #{a_email}, #{a_phone},'Bronze', 0, 1, null, 0, 1000, #{a_post})
	</insert>
	
	<select id="login" resultType="com.sdm.fj.account.Account" parameterType="com.sdm.fj.account.Account">
		select * from final_account where a_id = #{a_id}
	</select>

	<select id="checkId" parameterType="com.sdm.fj.account.Account" resultType="int">
		select count(*) from final_account where a_id = #{a_id}
	</select>
	<select id="findPW" parameterType="com.sdm.fj.account.Account" resultType="com.sdm.fj.account.Account">
		select * from final_account where a_id = #{a_id} and a_email = #{a_email}
	</select>
	<update id="changePW" parameterType="com.sdm.fj.account.Account">
		update final_account set a_pw = #{a_pw} where a_id = #{a_id}
	</update>
	<update id="changeInfo" parameterType="map">
		update final_account
		set a_pw = #{ n_pw }, a_addr = #{n_addr}, a_nickname = #{n_nickname}, a_phone = #{n_phone}
		where a_id = #{n_nowID}  
	</update>
	
	<select id="showAllInfo" parameterType="map" resultType="com.sdm.fj.account.Account">
		select * from final_account where a_id = #{n_nowID}
	</select>
	<select id="getAccount" parameterType="com.sdm.fj.account.Account" resultType="com.sdm.fj.account.Account">
		select * from final_account where a_id =#{a_id}
	</select>
	<update id="updateRequest" parameterType="com.sdm.fj.account.Account">
		update final_account
		set a_reqstatus = 1
		where a_id = #{a_id}
	</update>
	<select id="getAllClient" resultType="com.sdm.fj.account.Account">
		select * from final_account order by a_rank
	</select>	
	<select id="getFavor" parameterType="map" resultType="string">
		select a_favorite from final_account where a_id = #{id}
	</select>
	
	<update id="updateReq" parameterType="map">
		update final_account
		set a_usertype = 2, a_reqstatus = 2, a_nickname = #{market}
		where a_id = #{id}
	</update>
	<delete id="delete" parameterType="com.sdm.fj.account.Account">
		delete from final_account where a_id = #{a_id}
	</delete>
	<select id="selectFavor" parameterType="com.sdm.fj.account.Account" resultType="string">
		select a_favorite from final_account where a_id = #{a_id}
	</select>
	
	<update id="updateFavorite" parameterType="map">
		update final_account
		set a_favorite = #{p_list}
		where a_id = #{a_id} 
	</update>

	<update id="deleteFavorite" parameterType="map">
		update final_account
		set a_favorite = #{favors}
		where a_id = #{a_id} 
	</update>	
	
	<select id="selectFavorforDelete" parameterType="string" resultType="string">
		select a_favorite from final_account where a_id = #{aid}
	</select>
	
	<update id="payMoney" parameterType="com.sdm.fj.account.Account">
		update final_account
		set a_cash = #{a_cash}, a_exp = #{a_exp}
		where a_id = #{a_id}
	</update>
	
	<update id="changeRank" parameterType="com.sdm.fj.account.Account">
		update final_account
		set a_rank = #{a_rank}
		where a_id = #{a_id}
	</update>

	<update id="chargeMoney" parameterType="com.sdm.fj.account.Charger">
		update final_account
		set a_cash = a_cash + #{money}
		where a_id = #{id}
	</update>
</mapper>