<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdm.fj.cart.CartMapper">

	<insert id="addCart" parameterType="com.sdm.fj.cart.CartDTO">
		insert into final_cart
		values(#{a_id}, #{p_no}, final_cart_seq.nextval, 1,
		sysdate,#{p_price},#{p_img},#{p_size},#{p_color},#{p_name})

	</insert>

	<select id="getAllCart" resultType="com.sdm.fj.cart.CartDTO"
		parameterType="com.sdm.fj.cart.CartDTO">
		select * from final_cart where a_id = #{a_id}
	</select>

	<delete id="deleteCart">
		delete final_cart where a_id=#{a_id} and cartId=#{cartId}
	</delete>
	<delete id="deleteCartAll">
		delete final_cart where a_id=#{a_id}
	</delete>

</mapper>