<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdm.fj.outer.OuterMapper">
	<select id="showAllOuterPadding" resultType="com.sdm.fj.Product">
	select * from final_product where p_category = 1
	</select>
	
	<select id="showAllOuterCoat" resultType="com.sdm.fj.outer.OuterDTO">
	select * from final_product where p_category = 2
	</select>
	
	<select id="showAllOuterFieldJacket" resultType="com.sdm.fj.outer.OuterDTO">
	select * from final_product where p_category = 3
	</select>
</mapper>